<h1>Journey</h1>
<%= link_to 'Back', journeys_path %>
<%= link_to 'Delete Journey', journey_path(@journey), method: :delete %>
<%= render 'form' %>

<h2>Journey Details</h2>

<%= render 'journey_details' %>